# Input saved in ~/.config/chezmoi/chezmoi.toml

[data]
  machine_profile = {{ promptStringOnce . "data.machine_profile" "Machine profile (workstation|server)" | quote }}
  name = {{ promptStringOnce . "data.name" "Full name" | quote }}
  email = {{ promptStringOnce . "data.email" "Email" | quote }}
  githubUser = {{ promptStringOnce . "data.githubUser" "GitHub username" | quote }}
