#!/usr/bin/env bash

# bootstrap hash: {{ if eq .chezmoi.os "darwin" }}{{ include "dot_bootstrap/setup-macos-workstation.yml" | sha256sum }}{{ else }}{{ include "dot_bootstrap/setup-linux-workstation.yml" | sha256sum }}{{ end }}

if command -v ansible-playbook &> /dev/null; then
    if [[ "$(uname)" == "Darwin" ]]; then
        ansible-playbook {{ joinPath .chezmoi.sourceDir "dot_bootstrap/setup-macos-workstation.yml" | quote }}
    else
        ansible-playbook {{ joinPath .chezmoi.sourceDir "dot_bootstrap/setup-linux-workstation.yml" | quote }} --ask-become-pass
    fi
fi